* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;

}
main{
    background-color: #ebebeb;
    height: 100%;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height:100% ;
    margin: 5%;
    justify-content: center;
    align-items: center;
    
}
.botones{
    width: 100%;
    border-radius: 4px;
    border:1px solid #ebebeb;
    margin-top: 5%;
    margin-bottom: 5%;
    height: 30px;
}
.boton{
    background-color: #1259c3;
    color:white;
    border-radius: 4px;
    height: 30px;
    width: 100%;
    margin-top: 5%;
    border:1px solid #1259c3;
}
header {
    background-color: #EAC926;
}

.imagen {
    width: 50%;
}

footer {
    padding-top: 40px;
    color: #666;
    background-color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    
}

#burger {
    padding-bottom: 10px;
    padding-top: 15px;
}

.burger {
    padding: 10px;
    text-align: center;
    border-radius: 20%;
    background-color: #1259c3;
    color: white;
    margin-bottom: 10px;
}

.iconos {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
    text-align: center;
}

#ocultar {
    font-size: 100%;
}

#holis {
    display: none;
}

.barradebusqueda{
    width: 50%;
    height: 40px;
    border-radius: 4px;
    border:1px solid white ;
    margin-top: 10px;
    
}

.lupa{
    border:1px solid white ;
    border-radius: 4px;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 12px;
    padding-right: 2px;
    padding-left: 2px;
    color:gray;
    position: absolute;
    right: 5px;
    top:15px
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   padding:5px;

}
.tituloheader{
    padding-top: 10px;
    margin: auto;
}

@media(min-width:761px) {
    #ocultar {
        display: none;
    }
    .imagen{
        width: 33%;
    }
    .barradebusqueda{
        width: 33%;
        margin: auto;
    }
    .tituloheader{
        width: 33%;
        margin-left: auto;
    }
    .lupa{
        display: none;
    }
    .container{
        align-items: center;
    }
    #holis{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;}
    
    a{
        padding-left: 5px;
        padding-right: 5px;
        padding-bottom: 10px;
    }
    .botones{
        width: 100%;
        border-radius: 4px;
        border:1px solid #ebebeb;
        margin-top: 2%;
        margin-bottom: 1%;
        height: 30px;
    }
    .boton{
        background-color: #1259c3;
        color:white;
        border-radius: 4px;
        height: 30px;
        width: 100%;
        margin-top: 3%;
        border:1px solid #1259c3;
    }
}
main form button:hover{
    background-color:#0022AA;
}
footer section i:hover{
    color:#666
    }
@media(min-width:1024px) {
    #holis {
        display: block;
    }

    #ocultar {
        display: none;
    }
    
    }
 #holis{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
padding-bottom: 10px;}
    
    a{
        padding-left: 30px;
        padding-right: 10px;
        padding-bottom: 10px;
    }
    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
     align-items: baseline;;
    }
    footer section{
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-left: 10px;
    }
    footer section p{
        padding-top: 10px;
    }
}